<template>
  <div>
    <div class="d-flex justify-content-between py-2">
      <span>Home</span>
    </div>
    <hr>
    <div class="mb-3">
      <h1>Users</h1>
      <!--      <b-row>-->
      <!--        <b-col>-->
      <!--          <b-form-select id="sort-field" v-model="userSortField" class="w-100 custom-select">-->
      <!--            <b-form-select-option :value="null">Please select an option</b-form-select-option>-->
      <!--            <b-form-select-option :value="option" v-for="option of fieldsForSort" :key="option">{{-->
      <!--                option-->
      <!--              }}-->
      <!--            </b-form-select-option>-->
      <!--          </b-form-select>-->
      <!--        </b-col>-->
      <!--        <b-col>-->
      <!--          <b-form-input class="" v-model="userFilter" placeholder="Enter name or email for filter"/>-->
      <!--        </b-col>-->
      <!--      </b-row>-->
    </div>
    <v-table :items="users" :headers="userTableHeaders">
      <template #header>
        Custom header
      </template>
      <template v-slot:footer>
        Custom footer
      </template>

      <template v-slot:header-name="{header: { label }}">
        <b>{{ label }}</b>
      </template>
      <template v-slot:header-username="{header: { label }}">
        <b><u>{{ label }}</u></b>
      </template>
      <!--      <template v-slot:header-id>#</template>-->
      <!--      <template v-slot:header-company>Company name</template>-->


      <template v-slot:col-company="{value}">{{ value.name }}</template>
      <template v-slot:col-address="{value}">str., {{ value.street }} / {{ value.suite }} / {{ value.city }}</template>
      <template v-slot:col-username="{value}">
        <b>{{ value }}</b>
      </template>


    </v-table>
    <!--    <transition-group tag="div" class="row" name="list">-->
    <!--      <div class="col-4" v-for="user of sortedUsers" :key="user.id">-->
    <!--        <v-user-card v-bind="user" @edit="showUserEditModal"/>-->
    <!--      </div>-->
    <!--    </transition-group>-->
    <v-modal title="Edit user" ref="user_edit_modal">
      <form>
        <b-form-group
            label="Name"
            label-for="name"
        >
          <b-form-input
              id="name"
              v-model="editUser.name"
              required
          />
        </b-form-group>
        <b-form-group
            label="Email"
            label-for="email"
        >
          <b-form-input
              id="email"
              v-model="editUser.email"
              type="email"
              required
          />
        </b-form-group>
        <b-form-group
            label="Phone"
            label-for="phone"
        >
          <b-form-input
              id="phone"
              v-model="editUser.phone"
              type="tel"
              required
          />
        </b-form-group>
      </form>
    </v-modal>
    <!--    <b-modal id="userEditModal"-->
    <!--             :title="`Edit user (${editUser.name})`"-->
    <!--             ok-title="Save"-->
    <!--             @ok="saveUser">-->

    <!--    </b-modal>-->
  </div>
</template>

<script>
// import VUserCard from "@/components/VUserCard";
import {getUsers, updateUser} from "@/axios/users";
import VModal from "@/components/VModal";
import VTable from "@/components/VTable";

export default {
  name: "Home",
  components: {
    VTable, VModal,
    // VUserCard
  },
  data: () => ({
    userFilter: '',
    userSortField: 'name',
    users: [],
    editUser: {},
    userTableHeaders: [
      {
        key: 'name',
        label: 'Name'
      },
      {
        key: 'username',
        label: 'Username'
      }
    ]
  }),
  created() {
    this.getUsers()
  },
  computed: {
    filteredUsers() {
      return this.users.filter(user => user.name.toLowerCase().includes(this.userFilter.toLowerCase()) ||
          user.email.toLowerCase().includes(this.userFilter.toLowerCase()))
    },
    sortedUsers() {
      return [...this.filteredUsers]
          .sort((u1, u2) => u1[this.userSortField] > u2[this.userSortField] ? 1 : -1)
    },
    fieldsForSort() {
      return this.users.length ? Object.keys(this.users[0]).filter(f => f !== 'id' && typeof this.users[0][f] !== 'object') : []
    }
  },
  methods: {
    getUsers() {
      getUsers(this.$http)
          .then(users => this.users = users)
    },
    showUserEditModal(userId) {
      this.editUser = Object.assign({}, this.users.find(u => u.id === userId))
      this.$refs.user_edit_modal.open()
          .then(({close}) => {
            this.saveUser()
                .then(() => {
                  close()
                })
          })
          .catch(() => {
          })
    },
    saveUser() {
      return updateUser(this.$http, `/users/${this.editUser.id}`, {
        name: this.editUser.name,
        email: this.editUser.email,
        phone: this.editUser.phone,
      })
          .then(users => this.users = users)
          .catch(e => alert(e.toString()))
    }
  }
}
</script>

<style>

</style>
