<template>
  <div>
    <div class="d-flex justify-content-between align-items-center py-2 border-bottom">
      <span>User</span>
      <!--TODO: перехід на один крок назад в історії посилань-->
      <b-button @click="$router.back()">
        <b-icon-arrow-left/>
      </b-button>
    </div>

    <h1 class="py-3">{{ user.name }}</h1>
    <h3 class="border-bottom py-3">{{ user.email }}</h3>
    <div class="row">
      <div class="col">
        <v-list title="Posts" :items="posts" field-text="title" :show-check-box="true" @deleteSelectedItems="deleteSelectedPosts"/>
      </div>
      <div class="col">
        <v-list title="Albums" :items="albums" field-text="title" :show-check-box="true" @deleteSelectedItems="deleteSelectedAlbums"/>
      </div>
      <div class="col">
        <v-list title="Todos" :items="todos" field-text="title" :show-check-box="true" @deleteSelectedItems="deleteSelectedTodos"/>
      </div>
    </div>
  </div>
</template>

<script>
import VList from "@/components/VList";
import {getPostsByUserId} from "@/axios/posts";
import {getAlbumsByUserId} from "@/axios/albums";
import {getUserById} from "@/axios/users";

export default {
  name: "User",
  components: {VList},
  data: () => ({
    user: {},
    posts: [],
    albums: [],
    todos: [],
    limit: 15
  }),
  created() {
    const userId = this.$route.params.id
    this.getUser(userId)
        .then((user) => {
          this.getPosts(user.id)
          this.getAlbums(user.id)
          this.getTodos(user.id)
        })
  },
  methods: {
    getUser(id) {
      return getUserById(this.$http, +id)
          .then(user => {
            this.user = user
            return user
          })
    },
    getPosts(userId) {
      getPostsByUserId(this.$http, userId, {_limit: this.limit})
          .then(posts => this.posts = posts)
    },
    getAlbums(userId) {
      getAlbumsByUserId(this.$http, userId, {_limit: this.limit})
          .then(albums => this.albums = albums)
    },
    getTodos(userId) {
      getAlbumsByUserId(this.$http, userId, {_limit: this.limit})
          .then(todos => this.todos = todos)
    },
    deleteSelectedPosts(selectedPostIds) {
      this.posts = this.posts.filter(p => !selectedPostIds.includes(p.id))
    },
    deleteSelectedAlbums(selectedAlbumsIds) {
      this.albums = this.albums.filter(a => !selectedAlbumsIds.includes(a.id))
    },
    deleteSelectedTodos(selectedTodosIds) {
      this.todos = this.todos.filter(t => !selectedTodosIds.includes(t.id))
    },
  }
}
</script>

<style scoped>

</style>
