<template>
  <div>
    <div class="d-flex justify-content-between">
      <h3 v-if="title">{{ title }}</h3>
      <b-button @click="deleteSelectedItems" v-if="showDeleteBasket" variant="danger">
        <b-icon-basket/>
      </b-button>
    </div>
    <transition-group tag="b-list-group" name="list-swipe">
      <template v-for="(item, index) of items">
        <b-list-group-item :key="item[fieldKey] || index">
          <div class="d-flex justify-content-between">
            <slot :item="item">{{ item[fieldText] || item }}</slot>
            <b-checkbox v-if="showCheckBox" v-model="selectedItems" :value="item[fieldKey] || item"/>
          </div>
        </b-list-group-item>
      </template>
    </transition-group>
  </div>
</template>

<script>
export default {
  name: "VList",
  props: {
    items: {
      type: Array,
      default: () => [],
      required: true
    },
    fieldText: {
      type: String,
      default: ''
    },
    fieldKey: {
      type: String,
      default: 'id'
    },
    title: {
      type: String,
      default: ''
    },
    showCheckBox: {
      default: false
    }
  },
  data: () => ({
    selectedItems: []
  }),
  computed: {
    showDeleteBasket() {
      return !!this.selectedItems.length
    }
  },
  methods: {
    deleteSelectedItems() {
      this.$emit('deleteSelectedItems', this.selectedItems)
      this.selectedItems = []
    }
  }
}
</script>

<style scoped>

</style>
