<template>
  <div class="modal" tabindex="-1" :class="{show: isOpen}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ title }}</h5>
          <button @click="close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <slot/>
        </div>
        <div class="modal-footer">
          <button @click="close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button @click="complete" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "VModal",
  props: {
    title: {}
  },
  data: () => ({
    resolve: () => {
    },
    reject: () => {
    },
    isOpen: false
  }),
  methods: {
    open() {
      return new Promise((resolve, reject) => {
        this.isOpen = true
        this.resolve = resolve
        this.reject = reject
      })
    },
    close() {
      this.isOpen = false
      this.reject()
    },
    complete(){
      this.resolve({close: this.openToFalse})
    },
    openToFalse(){
      this.isOpen = false
    }
  }
}
</script>

<style scoped>
.show {
  display: block !important;
}
</style>
