<template>
  <div class="custom-table">
    <div class="table-header">
      <slot name="header">
        Header
      </slot>
    </div>

    <table>
      <thead>
      <tr>
        <td v-for="{key, label} of headers" :key="key">
          <slot :name="`header-${key}`" :header="{key, label}">{{ label }}</slot>
        </td>
      </tr>
      </thead>

      <tbody>
      <tr v-for="item of items" :key="item[fieldKey]">
        <td v-for="{key} of headers" :key="key">
          <slot :name="`col-${key}`" :value="item[key]">{{ item[key] }}</slot>
        </td>
      </tr>
      </tbody>

      <tfoot>
      <tr>
        <td v-for="{key, label} of headers" :key="key">
          <slot :name="`header-${key}`" :header="{key, label}">{{ label }}</slot>
        </td>
      </tr>
      </tfoot>

    </table>

    <div class="table-footer">
      <slot name="footer">
        Footer
      </slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "VTable",
  props: {
    items: {},
    fieldKey: {
      default: 'id'
    },
    headers: {}
  },
  computed: {}
}
</script>

<style scoped lang="scss">
.custom-table {
  padding: 15px 0;

  .table-header, .table-footer {
    padding: 10px 15px;
    background-color: #eee;
  }

  .table-header {
    border-bottom: 1px solid;
    margin-bottom: 5px;
  }

  .table-footer {
    border-top: 1px solid;
    margin-top: 5px;
  }
}

table {
  thead, tfoot {
    background-color: #ccc;
  }

  tr {
    border-top: 1px solid;

    &:last-child {
      border-bottom: 1px solid;
    }

    td {
      border-left: 1px solid;
      padding: 3px 5px;

      &:last-child {
        border-right: 1px solid;
      }
    }
  }
}
</style>
