html, body {
    min-height: 100%;
    height: 100%;
}

.list-item {
    display: inline-block;
    margin-right: 10px;
}

.list-enter-active, .list-leave-active {
    transition: all 1s;
}

.list-enter, .list-leave-to /* .list-leave-active до версии 2.1.8 */
{
    opacity: 0;
    transform: rotate(90deg) translateX(150px);
}

.list-move {
    transition: transform 1s;
}


.list-swipe-item {
    display: inline-block;
    margin-right: 10px;
}

.list-swipe-enter-active, .list-swipe-leave-active {
    transition: all 1s;
}

.list-swipe-enter, .list-swipe-leave-to /* .list-swipe-leave-active до версии 2.1.8 */
{
    opacity: 0;
    transform: translateX(150px);
}

.list-swipe-move {
    transition: transform 1s;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center/8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

